/**************************************************/
html {
  min-width: 320px; }

body {
  display: grid;
  grid-template-rows: 73px 84vh auto 115px;
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 14px; }

.header {
  display: grid;
  background-color: #2b2d3c;
  grid-template-rows: 5px auto;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1); }
  .header .row {
    background-color: #6a7cff; }
  .header .cabecalho {
    display: flex;
    justify-content: space-between; }
    .header .cabecalho .menu-hamburguer {
      background: rgba(106, 124, 255, 0.4);
      text-align: center;
      font-size: 200%;
      color: #6a7cff;
      display: flex;
      flex-direction: column;
      height: 73px;
      width: 73px;
      position: relative; }
      .header .cabecalho .menu-hamburguer > * {
        margin: auto; }

.main {
  background-color: #fff; }

.articles {
  background-color: #fafafa; }

.footer {
  background-color: #f5f5f5; }

/**************************************************/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px; }
  .nav a {
    display: block;
    color: #fff; }
  .nav .social-medias a {
    font-size: 35px;
    padding: 0.2em 0.2em; }

.social-medias {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  list-style-type: none;
  text-decoration: none; }
  .social-medias i {
    color: #6a7cff; }
  .social-medias a:hover i {
    color: rgba(106, 124, 255, 0.4);
    transition-duration: 0.3s; }

nav {
  align-self: center;
  display: none; }

a {
  text-decoration: none; }

.dark {
  background: #24252a; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

a.bttn {
  color: #6a7cff;
  text-decoration: none;
  transition: 0.3s ease all; }
  a.bttn:hover {
    color: #2b2d3c; }
  a.bttn:focus {
    color: #2b2d3c; }

a.bttn-dark {
  color: #644cad;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all; }
  a.bttn-dark:hover {
    color: #fff; }
  a.bttn-dark:focus {
    color: #fff; }

.bttn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  height: 20px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #6a7cff;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); }
  .bttn:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #6a7cff;
    z-index: -2; }
  .bttn:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }
  .bttn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }

.bttn-dark {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #644cad;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2; }
  .bttn-dark:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #644cad;
    z-index: -1; }
  .bttn-dark:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }
  .bttn-dark:focus:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }

/**************************************************/
.hamburgler {
  width: 54.75px;
  height: 54.75px;
  display: block;
  transition: 0.3s ease all; }
  .hamburgler.no-hamburgler {
    transform: rotate(-45deg); }

.bun,
.meat {
  display: block;
  width: 100%;
  background: #6a7cff;
  height: 20%;
  transition: 0.3s ease all;
  border-radius: 50px; }

.no-hamburgler .top {
  height: 38%;
  width: 20%;
  margin-left: 40%;
  border-radius: 50px 50px 0 0; }

.no-hamburgler .bottom {
  height: 38%;
  width: 20%;
  margin-left: 40%;
  border-radius: 0 0 50px 50px; }

.meat {
  margin: 20% 0; }
  .no-hamburgler .meat {
    margin: 2% 0; }

/**************************************************/
/**************************************************/
@media screen and (min-width: 380px) {
  body {
    display: grid;
    grid-template-rows: 135px 72vh auto 115px; }

  .img-container .logo {
    display: none; }

  .img-container::before {
    content: url("../img/nome-destaque-250-125.jpg"); }

  .hamburgler {
    width: 101.25px;
    height: 101.25px; }

  .header .cabecalho .menu-hamburguer {
    text-align: center;
    font-size: 200%;
    height: 135px !important;
    width: 135px; }

  nav {
    display: none; } }
@media screen and (min-width: 600px) {
  .header .cabecalho .menu-hamburguer {
    display: none; }

  nav {
    display: flex;
    justify-self: baseline; } }
@media screen and (max-width: 800px) {
  .bttn {
    width: 150px; }

  .nav {
    display: grid;
    grid-template-rows: 60px 60px;
    grid-template-columns: 150px 150px;
    margin-right: 30px; } }
@media screen and (max-width: 1050px) {
  .bttn {
    width: 150px; }

  .nav {
    margin-right: 20px; } }
@media screen and (min-width: 1050px) {
  .nav {
    margin-right: 20px; }

  .header .cabecalho {
    justify-content: start; }

  nav {
    margin: auto; } }
/**************************************************/
/**************************************************/
.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #dddddd solid 1px;
  border-top: #fff solid 1px; }
  .main .foto-rosto {
    display: flex; }
  .main .myFace:nth-child(-n+2) {
    margin-right: 1px; }
  .main #foto1 {
    order: 1;
    height: 60vh;
    border-bottom: black solid 5px;
    border-top: black solid 5px;
    border-left: black solid 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); }
  .main #foto2 {
    order: 2;
    height: 60vh;
    border-bottom: black solid 5px;
    border-top: black solid 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); }
  .main #foto3 {
    order: 3;
    height: 60vh;
    border-bottom: black solid 5px;
    border-top: black solid 5px;
    border-right: black solid 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); }

/**************************************************/
/**************************************************/
#foto1 {
  filter: grayscale(100%); }

#foto1:hover {
  transition: filter 0.5s ease-in-out;
  filter: grayscale(0%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.4); }

#foto2 {
  transition: filter 0.5s ease-in-out;
  filter: grayscale(0%); }

#foto2:hover {
  filter: grayscale(100%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.4); }

#foto3 {
  filter: grayscale(100%); }

#foto3:hover {
  transition: filter 0.5s ease-in-out;
  filter: grayscale(0%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.4); }

/**************************************************/
.articles {
  text-align: center;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  border-bottom: #dddddd solid 1px; }

.articles .portifolio {
  display: grid;
  position: relative;
  justify-content: center; }
  .articles .portifolio ul {
    margin: 100px 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0px;
    padding-top: 25px;
    border-top: 1px solid rgba(15, 15, 15, 0.2);
    max-width: 1092px; }
    .articles .portifolio ul li {
      border-radius: 1%;
      margin: 15px 10px;
      background-color: white;
      opacity: 1;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); }
      .articles .portifolio ul li a {
        text-decoration: none;
        display: block;
        color: #333333; }
    .articles .portifolio ul span {
      text-transform: uppercase; }
    .articles .portifolio ul img {
      width: 70vw;
      max-width: 320px;
      margin: 10px 10px;
      border-radius: 1%; }
  .articles .portifolio ul:hover li {
    opacity: 0.4;
    transition-timing-function: ease-in-out;
    transition: 0.3s; }
  .articles .portifolio ul li:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.4);
    opacity: 1; }
  .articles .portifolio .apresentacao {
    position: absolute;
    text-transform: uppercase;
    color: #666666;
    font-size: 1rem;
    margin-top: 90px;
    left: 50%;
    padding: 0px;
    background-color: #fafafa;
    width: 360px;
    display: block;
    transform: translate(-50%);
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px #ffffff;
    font-weight: normal; }

.footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: #333333; }
  .footer div,
  .footer nav,
  .footer .tooltip {
    align-self: center; }

footer a {
  background: transparent url(../img/sprite.png) 0 -217px;
  width: 118px;
  height: 90px;
  display: block;
  position: absolute;
  left: 50%;
  top: -45px;
  transform: translate(-50%); }

footer a:hover {
  top: -50px;
  transition-timing-function: ease-in-out;
  transition: 0.3s; }

/*************************************************************** TESTES *******************************************************/
.background1 {
  background: #fff !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

.background2 {
  background: #fafafa !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

.background3 {
  background: #f5f5f5 !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

.background--on1 {
  background: rgba(53, 62, 127, 0.9) !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

.background--on2 {
  background: rgba(53, 62, 127, 0.8) !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

.background--on3 {
  background: #353e7f !important;
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

.toggle-body {
  width: 3.5rem;
  height: 1rem;
  position: relative;
  background: #b7bfff;
  border-radius: 2rem;
  animation: angle-reverse 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35); }

.toggle-body--on {
  animation: angle 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  animation-direction: alternate; }

.toggle-btn {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  top: calc(50% - 1.9rem / 2);
  left: calc(27% - 1.7rem / 2);
  background: white;
  border-radius: 2rem;
  background: rgba(53, 62, 127, 0.9);
  cursor: pointer;
  transform: translateX(0);
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  border: solid rgba(53, 62, 127, 0.9) 1px; }

.toggle-btn--on {
  transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  transform: translateX(80%);
  background: #fff; }

@keyframes angle {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes angle-reverse {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(0deg); } }

/*# sourceMappingURL=main.css.map */
