@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gy9bdu');
  src:  url('fonts/icomoon.eot?gy9bdu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gy9bdu') format('truetype'),
    url('fonts/icomoon.woff?gy9bdu') format('woff'),
    url('fonts/icomoon.svg?gy9bdu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheveron-up:before {
  content: "\e900";
}
