$light: rgba($color: #6a7cff, $alpha: 0.4);
$dark: #6a7cff;
$radius: 50px;
$header-height: 135px;
$footer-height: 128px;
$faixa-header-height: 5px;
$faixa-header-color: $dark;
$header-color: #2b2d3c;
$main-color: #fff;
$articles-color: #fafafa;
$footer-color: #f5f5f5;
$espacoEntreCadaFoto: 1px;
$border-foto: black solid 5px;
$header-height-mob: 73px;
/**************************************************/

html {
	min-width: 320px;
}

body {
	display: grid;
	grid-template-rows: $header-height-mob 84vh auto 115px;
	font-family: "Proxima Nova", Georgia, sans-serif;
	font-size: 14px;
}

.header {
	display: grid;
	background-color: $header-color;
	grid-template-rows: $faixa-header-height auto;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	.row {
		background-color: $faixa-header-color;
	}
	.cabecalho {
		display: flex;
		justify-content: space-between;
		.menu-hamburguer {
			background: $light;
			text-align: center;
			font-size: 200%;
			color: $dark;
			display: flex;
			flex-direction: column;
			height: $header-height-mob;
			width: $header-height-mob;
			position: relative;
			&>* {
				margin: auto;
			}
		}
	}
}

.main {
	background-color: $main-color;
}

.articles {
	background-color: $articles-color;
}

.footer {
	background-color: $footer-color;
}

/**************************************************/

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
	padding-left: 0px;
	a {
		display: block;
		color: #fff;
	}
	.social-medias a {
		font-size: 35px;
		padding: 0.2em 0.2em;
	}
}

.social-medias {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	list-style-type: none;
	text-decoration: none;
	i {
		color: #6a7cff;
	}
	a:hover i {
		color: rgba($color: #6a7cff, $alpha: 0.4);
		transition-duration: 0.3s;
	}
}

nav {
	align-self: center;
	display: none;
}

a {
	text-decoration: none;
}

$font: "Source Sans Pro",
sans-serif;
$primary: #6a7cff;
$second: #644cad;
$third: #4426a8;
.dark {
	background: #24252a;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

a.bttn {
	color: $primary;
	text-decoration: none;
	transition: 0.3s ease all;
	&:hover {
		color: $header-color;
	}
	&:focus {
		color: $header-color;
	}
}

a.bttn-dark {
	color: $second;
	text-decoration: none;
	-webkit-transition: 0.3s all ease;
	transition: 0.3s ease all;
	&:hover {
		color: #fff;
	}
	&:focus {
		color: #fff;
	}
}

.bttn {
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	width: 270px;
	height: 20px;
	font-weight: bold;
	padding: 14px 0px;
	border: 3px solid $primary;
	border-radius: 2px;
	position: relative;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
	&:before {
		-webkit-transition: 0.5s all ease;
		transition: 0.5s all ease;
		position: absolute;
		top: 0;
		left: 50%;
		right: 50%;
		bottom: 0;
		opacity: 0;
		content: "";
		background-color: $primary;
		z-index: -2;
	}
	&:hover {
		&:before {
			-webkit-transition: 0.5s all ease;
			transition: 0.5s all ease;
			left: 0;
			right: 0;
			opacity: 1;
		}
	}
	&:focus {
		&:before {
			transition: 0.5s all ease;
			left: 0;
			right: 0;
			opacity: 1;
		}
	}
}

.bttn-dark {
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	width: 270px;
	font-weight: bold;
	padding: 14px 0px;
	border: 3px solid $second;
	border-radius: 2px;
	position: relative;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
	z-index: 2;
	&:before {
		-webkit-transition: 0.5s all ease;
		transition: 0.5s all ease;
		position: absolute;
		top: 0;
		left: 50%;
		right: 50%;
		bottom: 0;
		opacity: 0;
		content: "";
		background-color: $second;
		z-index: -1;
	}
	&:hover {
		&:before {
			-webkit-transition: 0.5s all ease;
			transition: 0.5s all ease;
			left: 0;
			right: 0;
			opacity: 1;
		}
	}
	&:focus {
		&:before {
			-webkit-transition: 0.5s all ease;
			transition: 0.5s all ease;
			left: 0;
			right: 0;
			opacity: 1;
		}
	}
}

/**************************************************/

// Colors
.hamburgler {
	width: $header-height-mob * 3 / 4;
	height: $header-height-mob * 3 / 4;
	display: block;
	transition: 0.3s ease all;
	&.no-hamburgler {
		transform: rotate(-45deg);
	}
}

.bun,
.meat {
	display: block;
	width: 100%;
	background: $dark;
	height: 20%;
	transition: 0.3s ease all;
	border-radius: $radius;
}

.top {
	.no-hamburgler & {
		height: 38%;
		width: 20%;
		margin-left: 40%;
		border-radius: $radius $radius 0 0;
	}
}

.bottom {
	.no-hamburgler & {
		height: 38%;
		width: 20%;
		margin-left: 40%;
		border-radius: 0 0 $radius $radius;
	}
}

.meat {
	margin: 20% 0;
	.no-hamburgler & {
		margin: 2% 0;
	}
}

/**************************************************/

/**************************************************/

@media screen and (min-width: 380px) {
	body {
		display: grid;
		grid-template-rows: $header-height 72vh auto 115px;
	}
	.img-container .logo {
		display: none;
	}
	.img-container::before {
		content: url("../img/nome-destaque-250-125.jpg");
	}
	.hamburgler {
		width: $header-height * 3 / 4;
		height: $header-height * 3 / 4;
	}
	.header {
		.cabecalho {
			.menu-hamburguer {
				text-align: center;
				font-size: 200%;
				height: $header-height !important;
				width: $header-height;
			}
		}
	}
	nav {
		display: none;
	}
}

@media screen and (min-width: 600px) {
	.header {
		.cabecalho {
			.menu-hamburguer {
				display: none;
			}
		}
	}
	nav {
		display: flex;
		justify-self: baseline;
	}
}

@media screen and (max-width: 800px) {
	.bttn {
		width: 150px;
	}
	.nav {
		display: grid;
		grid-template-rows: 60px 60px;
		grid-template-columns: 150px 150px;
		margin-right: 30px;
	}
}

@media screen and (max-width: 1050px) {
	.bttn {
		width: 150px;
	}
	.nav {
		margin-right: 20px;
	}
}

@media screen and (min-width: 1050px) {
	.nav {
		margin-right: 20px;
	}
	.header .cabecalho {
		justify-content: start;
	}
	nav {
		margin: auto;
	}
}

/**************************************************/

/**************************************************/

.main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: #dddddd solid 1px;
	border-top: #fff solid 1px;
	.foto-rosto {
		display: flex;
	}
	.myFace:nth-child(-n+2) {
		margin-right: $espacoEntreCadaFoto;
	}
	#foto1 {
		order: 1;
		height: 60vh;
		border-bottom: $border-foto;
		border-top: $border-foto;
		border-left: $border-foto;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
	}
	#foto2 {
		order: 2;
		height: 60vh;
		border-bottom: $border-foto;
		border-top: $border-foto;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
	}
	#foto3 {
		order: 3;
		height: 60vh;
		border-bottom: $border-foto;
		border-top: $border-foto;
		border-right: $border-foto;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
	}
}

/**************************************************/

/**************************************************/

#foto1 {
	filter: grayscale(100%);
}

#foto1:hover {
	transition: filter 0.5s ease-in-out;
	filter: grayscale(0%);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.4);
}

#foto2 {
	transition: filter 0.5s ease-in-out;
	filter: grayscale(0%);
}

#foto2:hover {
	filter: grayscale(100%);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.4);
}

#foto3 {
	filter: grayscale(100%);
}

#foto3:hover {
	transition: filter 0.5s ease-in-out;
	filter: grayscale(0%);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.4);
}

/**************************************************/

.articles {
	text-align: center;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	border-bottom: #dddddd solid 1px;
}

.articles .portifolio {
	display: grid; //   grid-template-rows: 35px auto auto;
	position: relative;
	justify-content: center;
	ul {
		margin: 100px 5vh;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		list-style-type: none;
		padding-left: 0px;
		padding-top: 25px;
		border-top: 1px solid rgba(15, 15, 15, 0.2);
		max-width: 1092px;
		li {
			border-radius: 1%;
			margin: 15px 10px;
			background-color: white;
			opacity: 1;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
			a {
				text-decoration: none;
				display: block;
				color: #333333;
			}
		}
		span {
			text-transform: uppercase;
		}
		img {
			width: 70vw;
			max-width: 320px;
			margin: 10px 10px;
			border-radius: 1%;
		}
	}
	ul:hover li {
		opacity: 0.4;
		transition-timing-function: ease-in-out;
		transition: 0.3s;
	}
	ul li:hover {
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.4);
		opacity: 1;
	}
	.apresentacao {
		position: absolute;
		text-transform: uppercase;
		color: #666666;
		font-size: 1rem;
		margin-top: 90px;
		left: 50%;
		padding: 0px;
		background-color: $articles-color;
		width: 360px;
		display: block;
		transform: translate(-50%);
		letter-spacing: 1px;
		text-shadow: 0px 1px 1px #ffffff;
		font-weight: normal;
	}
}

.footer {
	position: relative;
	display: flex;
	justify-content: space-around;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	color: #333333;
	div,
	nav,
	.tooltip {
		align-self: center;
	}
}

footer a {
	background: transparent url(../img/sprite.png) 0 -217px;
	width: 118px;
	height: 90px;
	display: block;
	position: absolute;
	left: 50%;
	top: -45px;
	transform: translate(-50%);
}

footer a:hover {
	top: -50px;
	transition-timing-function: ease-in-out;
	transition: 0.3s;
}

/*************************************************************** TESTES *******************************************************/

$color1: rgba($color: #353e7f,
$alpha: 0.9);
$color2: rgba($color: #353e7f,
$alpha: 0.8);
$color3: rgba($color: #353e7f,
$alpha: 1);
$color4: #fff;
$color5: #fafafa;
$color6: #f5f5f5;
$animtime: 1.5s;
$easing: cubic-bezier(0.68,
-0.15,
0.265,
1.35);
$iteration: 1;
.background1 {
	background: $color4 !important;
	transition: 1.5s $easing;
}

.background2 {
	background: $color5 !important;
	transition: 1.5s $easing;
}

.background3 {
	background: $color6 !important;
	transition: 1.5s $easing;
}

.background--on1 {
	background: $color1 !important;
	transition: 1.5s $easing;
}

.background--on2 {
	background: $color2 !important;
	transition: 1.5s $easing;
}

.background--on3 {
	background: $color3 !important;
	transition: 1.5s $easing;
}

.toggle-body {
	width: 3.5rem;
	height: 1rem;
	position: relative;
	background: #b7bfff;
	border-radius: 2rem;
	animation: angle-reverse $animtime $easing;
}

.toggle-body--on {
	animation: angle $animtime $easing;
	animation-direction: alternate;
}

.toggle-btn {
	width: 0.9rem;
	height: 0.9rem;
	position: absolute;
	top: calc(50% - 1.9rem / 2);
	left: calc(27% - 1.7rem / 2);
	background: white;
	border-radius: 2rem;
	background: $color1;
	cursor: pointer;
	transform: translateX(0);
	transition: $animtime $easing;
	border: solid $color1 1px;
}

.toggle-btn--on {
	transition: $animtime $easing;
	transform: translateX(80%);
	background: $color4;
}

@keyframes angle {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes angle-reverse {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}